{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>story 9</title>
</head>
<body>
    <div class="container">
    <div class="row">
        <h1>Search for a book</h1>
        <div class="col-12">
          <input id="search" placeholder="Search">
          <button id="button" class="btn btn-primary" type="button">Search</button>
        </div>
    
    </div>
    <div class="row">
        <div class="col-12">
          <table class="table">
            <thead>
                <tr>
                  <th>Cover</th>
                  <th>Title</th>
                  <th>Author</th>
                  <th>Release Date</th>
                  <th>Description</th>
                  <th>Like</th>
                </tr>
            </thead>
            <tbody id="content">

            </tbody>
          </table>
        </div>
      </div>

    </div>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</html>